{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["plugin:react/recommended", "airbnb", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "plugins": ["react", "react-hooks", "jsx-a11y", "@typescript-eslint"],
  "rules": {
    "arrow-parens": "off",
    "jsx-quotes": "off",
    "no-useless-escape": "off",
    "import/extensions": "off",
    "operator-linebreak": "off",
    "react/prop-types": "off",
    "function-paren-newline": "off",
    "react/no-array-index-key": "off",
    "implicit-arrow-linebreak": "off",
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": "off",
    "no-use-before-define": "off",
    "import/prefer-default-export": "off",
    "react/jsx-wrap-multilines": "off",
    "object-curly-newline": "off",
    "class-methods-use-this": "off"
  }
}
